body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .sojinko{
    @apply container mx-auto
  }
  .my-btn{
    @apply rounded text-center border p-1 bg-blue-500 border-blue-600 text-white
  }

  .main-table{
    @apply text-center table-auto mx-auto border-collapse border border-slate-300 my-2
  }

  .main-table th, td{
    @apply p-2 border border-slate-300
  }

  .main-table th{
    background-color: rgb(152, 223, 138);
  }
}