body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .sojinko{
    @apply container max-w-screen-md mx-auto
  }

  tr:nth-child(even) {
    @apply bg-slate-200
  }

  .main-table{
    @apply text-center table-auto mx-auto border-collapse border border-slate-300 my-2
  }

  .main-table th, td{
    @apply p-2 border border-slate-300
  }

  .main-table th{
    @apply bg-slate-400 text-white;
  }

  h2{
    @apply text-lg font-black my-1
  }
}